<div class="col-6 d-flex justify-content-between">
  <div class="text-center"><%= product.name %></div>
  <div class="text-center"><%= product.marketing_statement %></div>
  <div class="text-center"><%= product.product_price %></div>
  <div class="text-center"><%= product.product_discount%></div>
</div>
<div class="col-6">
    <%= link_to 'Add sample', new_product_sample_path(product), class: "btn btn-primary text-decoration-none border-0" %>
    <%= link_to "Edit", edit_product_path(product), target: :_top, class: "btn btn-primary text-decoration-none border-0" %>
    <%= button_to "Delete", product_path(product), method: :delete, class: "btn btn-primary" %>
</div>


