<div class="products-table">
  <table>
    <tr class="mb-2">
      <th class="col-2 text-center">Name</th>
      <th class="col-2 text-center">Marketing Statement </th>
      <th class="col-2 text-center">Cost Price</th>
      <th class="col-2 text-center">Percentage Discount</th>
    </tr>
    <%= render @products %>
  <table>
  <div class="product-buttons">
    <% @products.each do |product| %>
      <%= turbo_frame_tag dom_id(product), class: "mb-1" do%>
        <%= link_to 'Add sample', new_product_sample_path(product), class: "btn btn-primary text-decoration-none border-0" %>
        <%= link_to "Edit", edit_product_path(product), target: :_top, class: "btn btn-primary text-decoration-none border-0" %>
        <%= button_to "Delete", product_path(product), method: :delete, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
